{{ define "main" }}

<article class="container-fluid overflow-hidden" id="primary-content">

  <!-- Main tools -->
  <div class="row my-4">
    <div class="col-md-10 mx-auto">
      <h2 class="h2 firm-blue" style="border-bottom: 5px solid #181A7B !important"><i class="fas fa-tools mr-1"></i>Main tools</h2>

      <div class="row">
        <div class="col-md-4">
          <div class="border p-2">
            <div style='background-image: url({{ relURL "images/data.jpeg" }})' class="topimgfill">
            </div>
            <h2 class="h4 mt-1">EpiQuery</h2> 
            <p>Disease data, health surveys, vital statistics.</p>
            <a href="#" class="btn btn-block btn-outline-secondary">Get data</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="border p-2">
            <div style='background-image: url({{ relURL "images/map.png" }})' class="topimgfill">
            </div>
            <h2 class="h4 mt-1">Environments & health</h2> 
            <p>Data on how place shapes health</p>
            <a href="data-explorer/" class="btn btn-block btn-outline-secondary">Get data</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="border p-2">
            <div style='background-image: url({{ relURL "images/neighb.jpg" }})' class="topimgfill">
            </div>
            <h2 class="h4 mt-1">Neighborhood reports</h2> 
            <p>Health overviews for your neighborhood.</p>
            <a href="neighborhood-reports/" class="btn btn-block btn-outline-secondary">Get data</a>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="row my-4 py-4">
    <div class="col" style="text-align: center;">
      <h4 class="text-muted"><i class="fas fa-bullhorn mr-1" aria-hidden="true"></i>Get updates and announcements</h4>
      <p class="fs-sm">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfUg3JE5ODNc6aqBPJwM8mZ80TYtK6ISw-OM7PBwKuoN3M--g/viewform?embedded=true">Sign up here</a>
        
        <em>We won't share your email address with anybody. </em></p>
        
    </div>
  </div>

  <!-- Dashboards -->
  <div class="row my-4 py-4">
    <div class="col-md-10 mx-auto">
      <h2 class="h2 firm-blue" style="border-bottom: 5px solid #181A7B !important"><i class="fas fa-chart-line mr-1"></i>Dashboards</h2>

      <div class="row">
        <div class="col-md-3">
          <div class="border">
            <div class="card-body border-bottom">
                <h5 class="h5 card-title">HealthyNY</h5>
                <p class="card-text">
                    Main drivers of disease and death - and our goals to fight it.</p>
                <p> <a href="" class="">Get the data ></a></p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="border">
            <div class="card-body border-bottom">
                <h5 class="h5 card-title">Realtime Air Quality</h5>
                <p class="card-text">
                    Hourly PM2.5 readings from monitors around the city.</p>
                <p> <a href="" class="">Get the data ></a></p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="border">
            <div class="card-body border-bottom">
                <h5 class="h5 card-title">Rat Mitigation Zones</h5>
                <p class="card-text">
                    Data on areas for focused rat prevention work.</p>
                <p> <a href="" class="">Get the data ></a></p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="border">
            <div class="card-body border-bottom">
                <h5 class="h5 card-title">COVID-19</h5>
                <p class="card-text">
                    Latest data and key metrics on COVID-19 in NYC.</p>
                <p> <a href="" class="">Get the data ></a></p>
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-2">
        <div class="col-3 ml-auto">
          <a class="btn btn-outline-secondary btn-block float-right">All dashboards</a>
        </div>
      </div>

    </div>

  </div>

  <div class="row my-4 py-4">
    <div class="col-8 mx-auto">
      <strong>Explore data by topic</strong>
      <div class="row fs-sm">
        <div class="col-4">
          <ul class="list-group">
            <li class="list-group-item"><a href="">Chronic diseases</a></li>
            <li class="list-group-item"><a href="">Sexually-transmitted diseases</a></li>
            <li class="list-group-item"><a href="">Respiratory diseases</a></li>
            <li class="list-group-item"><a href="">Vaccine-preventable diseases</a></li>
            <li class="list-group-item"><a href="" class="font-weight-bold">All diseases</a></li>
          </ul>
        </div>
        <div class="col-4">
          <ul class="list-group">
            <li class="list-group-item"><a href="">Population characteristics</a></li>
            <li class="list-group-item"><a href="">Economic factors</a></li>
            <li class="list-group-item"><a href="">Social conditions</a></li>
            <li class="list-group-item"><a href="">Built environment</a></li>
            <li class="list-group-item"><a href="" class="font-weight-bold">All community characteristics</a></li>
          </ul>
        </div>
        <div class="col-4">
          <ul class="list-group">
            <li class="list-group-item"><a href="">Air quality</a></li>
            <li class="list-group-item"><a href="">Climate</a></li>
            <li class="list-group-item"><a href="">Housing</a></li>
            <li class="list-group-item"><a href="">Pests</a></li>
            <li class="list-group-item"><a href="" class="font-weight-bold">All environments</a></li>



          </ul>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-4 ml-auto">
          <a class="btn btn-sm btn-outline-secondary btn-block float-right">Topics A to Z</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Publications --> 

  <div class="row my-4 py-4">
    <div class="col-md-10 mx-auto">
      <h2 class="h2 firm-blue" style="border-bottom: 5px solid #181A7B !important"><i class="fas fa-book-open mr-1" aria-hidden="true"></i>Publications</h2>

      <div class="row mt-2">
        <div class="col-md-4">
          <h3 class="h4 border-bottom mb-1">Featured</h3>
          <div style="height:350px;">
            <img src="images/povasthma.jpg">
            <a href="" class="font-weight-bold">The racial wealth gap has huge implications for public health and health equity.</a>

          </div>

        </div>

        <div class="col-md-4">
          <h3 class="h4 border-bottom mb-1">Data stories</h3>
          {{- range first 3 ((where .Site.RegularPages "Section" "data-stories")) -}}
         <a class="fs-md" href="{{ .RelPermalink }}">{{ .Title }}</a>
          <hr class="my-1">
            
            {{- end -}}
            <a href="" class="font-weight-bold">See all data stories ></a>

        </div>

        <div class="col-md-4">
          <h3 class="h4 border-bottom" mb-1>Research reports</h3>
         <a href=""  class="fs-md">Prevalence of Hypertension, Awareness, Treatment, and Control in New York City</a>
          <hr class="my-1">
          <a href="" class="fs-md">NYC Community Air Survey: Annual Report</a>
          <hr class="my-1">
         <a href="" class="fs-md">Unintentional Drug Poisoning (Overdose) Deaths in New York City in 2022</a>
          <hr class="my-1">
          <a href="" class="font-weight-bold">See all research reports ></a>
        </div>

      </div>

      <div class="row mt-2">
        <div class="col-3 ml-auto">
          <a class="btn btn-outline-secondary btn-block float-right">All publications</a>
        </div>
      </div>

    </div>

  </div>
  

    
  
</article>

{{- end -}}

{{ define "js_bot" }}


{{- $js := resources.Get "js/accessible-autocomplete.min.js" -}}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- $js := resources.Get "js/uhflist.js" -}}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{- end -}}