{{- define "main" -}}

<article class="container-fluid" id="skip-header-target">

    <div class="col-lg-10 col-md-12 mx-auto my-4">
        <nav aria-label="breadcrumb" class="mb-2">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href={{ relURL "" }}>Home</a></li>
                <li class="breadcrumb-item"><a href={{ relURL "./tools" }}>Tools</a></li>

                <li class="breadcrumb-item active"><a href='{{ .RelPermalink }}'>{{ .Title }}</a></li>
            </ul>
          </nav>
                <h1 class="firm-blue"><i class="fas fa-chart-line mr-1" aria-hidden="true"></i>{{ .Title }}</h1>

                <div class="row">
                    <div class="col-8">
                        <p>{{ .Content }}</p>

                    </div>

                    <div class="col-4">
                        <img class="card-img-top cardshadow" src={{ relURL "images/home-sample-image-DE-5.png" }}>

                    </div>
                </div>

                <!-- DE dummy paste for content --> 
                <div class="row mt-2">
                    <div class="col-md-6">
            
                        <div class="accordion-group fs-sm" role="tablist" id="accordion-02">
                            <div class="card border">
                    
                                <strong><a class="btn btn-outline-light btn-block collapse"
                                     id="acc-button-01" data-toggle="collapse"
                                     href="#panel-acc-button-01" role="tab"
                                     aria-expanded="false"
                                     aria-controls="panel-acc-button-01">
                                     <span class="title" role="heading"
                                         aria-level="3">Air Quality</span>
                                 </a></strong> 
                         
                                 <div class="collapse show" id="panel-acc-button-01"
                                     role="tabpanel" aria-labelledby="acc-button-01"
                                     data-parent="#accordion-02">
                         
                                     <div class="card-body bg-white">
                                         <ul>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/active-design/">Active design</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/air-quality/">Air quality</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/asthma/">Asthma</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/health-impacts-of-air-pollution/">Health impacts of air pollution</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/walking-driving-and-cycling/">Walking, driving, and cycling</a>
                                                 </li>
                                             
                                             </ul>
                                     </div>
                         
                                 </div>
                                 
                         
                             </div>
                             
                         
                             <div class="card border">
                         
                                 <strong><a class="btn btn-outline-light btn-block collapse collapsed"
                                     id="acc-button-02" data-toggle="collapse"
                                     href="#panel-acc-button-02" role="tab"
                                     aria-expanded="false"
                                     aria-controls="panel-acc-button-02">
                                     <span class="title" role="heading"
                                         aria-level="3">Climate</span>
                                 </a></strong>
                         
                                 <div class="collapse" id="panel-acc-button-02"
                                     role="tabpanel" aria-labelledby="acc-button-02"
                                     data-parent="#accordion-02">
                         
                                     <div class="card-body bg-white">
                                         <ul>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/asthma/">Asthma</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/climate/">Climate</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/housing-safety/">Housing safety</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/housing-stability/">Housing stability</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/mental-health/">Mental health</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/vector-borne-disease/">Vector-borne disease</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/waterways/">Waterways</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/weather-related-illness/">Weather-related illness</a>
                                                 </li>
                                             
                                             </ul>
                                     </div>
                         
                                 </div>
                                 
                         
                             </div>
                             
                         
                             <div class="card border">
                         
                                <strong> <a class="btn btn-outline-light btn-block collapse collapsed"
                                     id="acc-button-03" data-toggle="collapse"
                                     href="#panel-acc-button-03" role="tab"
                                     aria-expanded="false"
                                     aria-controls="panel-acc-button-03">
                                     <span class="title" role="heading"
                                         aria-level="3">Housing</span>
                                 </a></strong>
                         
                                 <div class="collapse" id="panel-acc-button-03"
                                     role="tabpanel" aria-labelledby="acc-button-03"
                                     data-parent="#accordion-02">
                         
                                     <div class="card-body bg-white">
                                         <ul>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/asthma/">Asthma</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/asthma-triggers/">Asthma triggers at home</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/bed-bugs/">Bed bugs</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/cancer/">Cancer</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/carbon-monoxide-incidents/">Carbon monoxide</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/cigarette-smoke/">Cigarette smoke</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/cockroaches/">Cockroaches</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/economic-conditions/">Economic conditions</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/falls-among-older-adults/">Falls among older adults</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/housing-maintenance/">Housing maintenance</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/housing-safety/">Housing safety</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/housing-stability/">Housing stability</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/lead/">Lead poisoning</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/mental-health/">Mental health</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/mice-and-rats/">Mice and rats</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/social-conditions/">Social conditions</a>
                                                 </li>
                                             
                                             </ul>
                                     </div>
                         
                                 </div>
                                 
                         
                             </div>
                             
                         
                             <div class="card border">
                         
                                 <strong><a class="btn btn-outline-light btn-block collapse collapsed"
                                     id="acc-button-04" data-toggle="collapse"
                                     href="#panel-acc-button-04" role="tab"
                                     aria-expanded="false"
                                     aria-controls="panel-acc-button-04">
                                     <span class="title" role="heading"
                                         aria-level="3">Health equity</span>
                                 </a></strong>
                         
                                 <div class="collapse" id="panel-acc-button-04"
                                     role="tabpanel" aria-labelledby="acc-button-04"
                                     data-parent="#accordion-02">
                         
                                     <div class="card-body bg-white">
                                         <ul>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/asthma/">Asthma</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/asthma-triggers/">Asthma triggers at home</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/economic-conditions/">Economic conditions</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/health-care/">Health care</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/health-impacts-of-air-pollution/">Health impacts of air pollution</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/housing-maintenance/">Housing maintenance</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/housing-safety/">Housing safety</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/housing-stability/">Housing stability</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/lead/">Lead poisoning</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/mental-health/">Mental health</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/mortality/">Mortality</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/social-conditions/">Social conditions</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/violence/">Violence</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/waterways/">Waterways</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/weather-related-illness/">Weather-related illness</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/worker-health/">Worker health</a>
                                                 </li>
                                             
                                             </ul>
                                     </div>
                         
                                 </div>
                                 
                         
                             </div>
                             
                         
                             <div class="card border">
                         
                                 <strong><a class="btn btn-outline-light btn-block collapse collapsed"
                                     id="acc-button-05" data-toggle="collapse"
                                     href="#panel-acc-button-05" role="tab"
                                     aria-expanded="false"
                                     aria-controls="panel-acc-button-05">
                                     <span class="title" role="heading"
                                         aria-level="3">Active design / Transportation</span>
                                 </a></strong>
                         
                                 <div class="collapse" id="panel-acc-button-05"
                                     role="tabpanel" aria-labelledby="acc-button-05"
                                     data-parent="#accordion-02">
                         
                                     <div class="card-body bg-white">
                                         <ul>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/active-design/">Active design</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/air-quality/">Air quality</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/asthma/">Asthma</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/health-impacts-of-air-pollution/">Health impacts of air pollution</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/mental-health/">Mental health</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/physical-activity/">Physical activity</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/transportation-related-injuries/">Transportation-related injuries</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/walking-driving-and-cycling/">Walking, driving, and cycling</a>
                                                 </li>
                                             
                                             </ul>
                                     </div>
                         
                                 </div>
                                 
                         
                             </div>
                             
                         
                             <div class="card border">
                         
                                 <strong><a class="btn btn-outline-light btn-block collapse collapsed"
                                     id="acc-button-06" data-toggle="collapse"
                                     href="#panel-acc-button-06" role="tab"
                                     aria-expanded="false"
                                     aria-controls="panel-acc-button-06">
                                     <span class="title" role="heading"
                                         aria-level="3">Health outcomes</span>
                                 </a></strong>
                         
                                 <div class="collapse" id="panel-acc-button-06"
                                     role="tabpanel" aria-labelledby="acc-button-06"
                                     data-parent="#accordion-02">
                         
                                     <div class="card-body bg-white">
                                         <ul>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/asthma/">Asthma</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/birth-defects/">Birth defects</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/birth-outcomes/">Birth outcomes</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/cancer/">Cancer</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/cancers-in-children/">Cancers in children</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/falls-among-older-adults/">Falls among older adults</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/health-impacts-of-air-pollution/">Health impacts of air pollution</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/mental-health/">Mental health</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/mortality/">Mortality</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/overweight/">Overweight</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/transportation-related-injuries/">Transportation-related injuries</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/vector-borne-disease/">Vector-borne disease</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/violence/">Violence</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/weather-related-illness/">Weather-related illness</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/worker-health/">Worker health</a>
                                                 </li>
                                             
                                             </ul>
                                     </div>
                         
                                 </div>
                                 
                         
                             </div>
                             
                         
                             <div class="card border">
                         
                                 <strong><a class="btn btn-outline-light btn-block collapse collapsed"
                                     id="acc-button-07" data-toggle="collapse"
                                     href="#panel-acc-button-07" role="tab"
                                     aria-expanded="false"
                                     aria-controls="panel-acc-button-07">
                                     <span class="title" role="heading"
                                         aria-level="3">Child health</span>
                                 </a></strong>
                         
                                 <div class="collapse" id="panel-acc-button-07"
                                     role="tabpanel" aria-labelledby="acc-button-07"
                                     data-parent="#accordion-02">
                         
                                     <div class="card-body bg-white">
                                         <ul>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/air-quality/">Air quality</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/asthma/">Asthma</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/birth-defects/">Birth defects</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/birth-outcomes/">Birth outcomes</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/cancers-in-children/">Cancers in children</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/carbon-monoxide-incidents/">Carbon monoxide</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/cigarette-smoke/">Cigarette smoke</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/lead/">Lead poisoning</a>
                                                 </li>
                                             
                                             </ul>
                                     </div>
                         
                                 </div>
                                 
                         
                             </div>
                             
                         
                             <div class="card border">
                         
                                 <strong><a class="btn btn-outline-light btn-block collapse collapsed"
                                     id="acc-button-08" data-toggle="collapse"
                                     href="#panel-acc-button-08" role="tab"
                                     aria-expanded="false"
                                     aria-controls="panel-acc-button-08">
                                     <span class="title" role="heading"
                                         aria-level="3">Pests and pesticides</span>
                                 </a></strong>
                         
                                 <div class="collapse" id="panel-acc-button-08"
                                     role="tabpanel" aria-labelledby="acc-button-08"
                                     data-parent="#accordion-02">
                         
                                     <div class="card-body bg-white">
                                         <ul>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/asthma/">Asthma</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/bed-bugs/">Bed bugs</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/cockroaches/">Cockroaches</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/mice-and-rats/">Mice and rats</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/pesticides/">Pesticides</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/vector-borne-disease/">Vector-borne disease</a>
                                                 </li>
                                             
                                             </ul>
                                     </div>
                         
                                 </div>
                                 
                         
                             </div>
                             
                         
                             <div class="card border">
                         
                                 <strong><a class="btn btn-outline-light btn-block collapse collapsed"
                                     id="acc-button-09" data-toggle="collapse"
                                     href="#panel-acc-button-09" role="tab"
                                     aria-expanded="false"
                                     aria-controls="panel-acc-button-09">
                                     <span class="title" role="heading"
                                         aria-level="3">Food and drink</span>
                                 </a></strong>
                         
                                 <div class="collapse" id="panel-acc-button-09"
                                     role="tabpanel" aria-labelledby="acc-button-09"
                                     data-parent="#accordion-02">
                         
                                     <div class="card-body bg-white">
                                         <ul>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/alcohol-use/">Alcohol access and use</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/drinking-water-quality/">Drinking water quality</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/healthy-eating/">Healthy eating</a>
                                                 </li>
                                             
                                                 <li><a href="/IndicatorPublic/data-explorer/restaurant-food-safety/">Restaurant food safety</a>
                                                 </li>
                                             
                                             </ul>
                                     </div>
                         
                                 </div>
                                 
                         
                             </div>
                             
            
                        </div>
                    </div>
            
                    <div class="col-md-6">
                        
                        <div class="accordion-group fs-sm" role="tablist" id="accordion-03">
                            <div class="card border">
                    
                                <strong><a class="btn btn-outline-light btn-block collapse collapsed"
                                    id="acc-button-10" data-toggle="collapse"
                                    href="#panel-acc-button-10-1" role="tab"
                                    aria-expanded="false"
                                    aria-controls="panel-acc-button-10-1">
                                    <span class="title" role="heading"
                                        aria-level="3">All topics</span>
                                </a></strong>
                        
                                <div class="collapse show" id="panel-acc-button-10-1"
                                    role="tabpanel" aria-labelledby="acc-button-10"
                                    data-parent="#accordion-03">
                        
                                    <div class="card-body bg-white">
                                        <ul>
                                            
                                            <li><a href="/IndicatorPublic/data-explorer/active-design/">Active design</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/air-quality/">Air quality</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/alcohol-use/">Alcohol access and use</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/asthma/">Asthma</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/asthma-triggers/">Asthma triggers at home</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/bed-bugs/">Bed bugs</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/birth-defects/">Birth defects</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/birth-outcomes/">Birth outcomes</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/cancer/">Cancer</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/cancers-in-children/">Cancers in children</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/carbon-monoxide-incidents/">Carbon monoxide</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/cigarette-smoke/">Cigarette smoke</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/climate/">Climate</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/cockroaches/">Cockroaches</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/drinking-water-quality/">Drinking water quality</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/economic-conditions/">Economic conditions</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/falls-among-older-adults/">Falls among older adults</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/health-care/">Health care</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/health-impacts-of-air-pollution/">Health impacts of air pollution</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/healthy-eating/">Healthy eating</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/housing-maintenance/">Housing maintenance</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/housing-safety/">Housing safety</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/housing-stability/">Housing stability</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/lead/">Lead poisoning</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/mental-health/">Mental health</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/mice-and-rats/">Mice and rats</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/mortality/">Mortality</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/overweight/">Overweight</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/pesticides/">Pesticides</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/physical-activity/">Physical activity</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/restaurant-food-safety/">Restaurant food safety</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/social-conditions/">Social conditions</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/transportation-related-injuries/">Transportation-related injuries</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/vector-borne-disease/">Vector-borne disease</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/violence/">Violence</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/walking-driving-and-cycling/">Walking, driving, and cycling</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/waterways/">Waterways</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/weather-related-illness/">Weather-related illness</a></li>
            
                                                <li><a href="/IndicatorPublic/data-explorer/worker-health/">Worker health</a></li>
            
                                                </ul>
                                    </div>
                        
                                </div>
                                
                        
                            </div>
                            
                        </div>
                    </div>
                </div>
            
    </div>
    
</article>

{{ end }}